body {
    background-image: url('/images/background.jpg');
    background-repeat: repeat;
    color: black;
}

#modal-content{
    background-color: #011101;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu div{
    display: inline-block;
}

.card {
    width: 426px;
}

.card p{
    height: 100px;
}