body {
    background-image: url('/images/background.jpg');
    background-repeat: repeat;
    color: black;
}

/*Le modal pour se connecter*/
#modal-content{
    background-color: #011101;
}

/*La liste des jeux*/
.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu button{
    cursor: pointer;
    white-space: normal;
    transition: background-color 0.3s;
}

.scrollmenu button:hover{
    background-color: #e0dfdf;
}

.scrollmenu button:active{
    outline: none;
    background-color: #b3b2b2;
}

.card {
    width: 426px;
}

.card p{
    height: 100px;
}